@tailwind base;
@tailwind components;
@tailwind utilities;
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  /* overflow-x: hidden; */
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}


